@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.searchBar {
    text-align: start;
}

.fba-field-row {
    padding-top: 10px;
}

#fba-calculator-form {
    padding: 20px
}

.fc_td {
    background-color: white;
}

.pic {
    width: 50%;
    height: auto;
}

#product-data {
    display: none;
}


.fba-product-image {
    max-width: 100%;
    width: 180px;
}


/* .MerchantDiv{
    justify-content: space-between;
} */

.marchant_heading {
    justify-content: space-between;
    text-align: center !important;
}

.fba-results .col-md-4 {
    display: inline-block;
}

.fba-results td {
    text-align: right;
}

/* PROGRESS BAR START */
:root {
    --percentage: 0px;
}


#data-loader {
    display: none;
}

.loader {
    background: #fff;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.fba-progress-bar {
    position: relative;
    margin: 200px auto;
    text-align: center;
    font-family: 'poppins';
    width: 80%;
}

.fba-progress-bar:before {
    content: '';
    background: #e3e3e3;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 0;
}

.fba-progress-bar:after {
    content: '';
    position: absolute;
    background: green;
    width: var(--percentage);
    height: 10px;
    border-radius: 10px;
    top: 30px;
    left: 0;
}

/* PROGRESS BAR END */
